# VS Code
.vscode

# Python bytecode
*/__pycache__/*
*/__pycache__/*.pyc
*.pyc
*.pyo
*.pyd

# Odoo specific
custom/estate/models/__pycache__
custom/estate/__pycache__
custom/estate_account/models/__pycache__
custom/estate_account/__pycache__
custom/estate/models/__pycache__
custom/estate/models/__pycache__/*.pyc

# Logs and databases
*.log
*.sql
*.sqlite

# Environment
.env
.venv
env/
venv/