# VS Code
/.vscode

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Odoo specific
custom/estate/models/__pycache__/
custom/estate/__pycache__/
custom/estate_account/models/__pycache__/
custom/estate_account/__pycache__/

# Logs and databases
*.log
*.sql
*.sqlite

# Environment
.env
.venv
env/
venv/
custom/estate/models/__pycache__/__init__.cpython-312.pyc
custom/estate/__pycache__/__init__.cpython-312.pyc
