.sbodr-wizard-form {
    padding: 1rem;

    & label {
        font-weight: bold;
    }

    & .form-control {
        background-color: #f8f9fa; // Removed read-only state
        cursor: auto; // Changed cursor to default
    }
}

.sbodr-request {
    width: 100%;
    margin-top: 8px;
}
